html{
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
    min-width: 800px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 500px;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #a3c2f2, #e0c2f2);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.right {
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
}

.leftItems {
    background-color: #ffffff00 !important;
    color: black !important;
    padding-right: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.link {
    background-color: #ffffff00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.link:hover {
    background-color: #80e1ff;
    text-decoration: underline;
}

.navbar .spacer {
    flex: 1;
}

.action-buttons {
    display: flex;
    padding-right: 10px;
    gap: 5px;
}

.action-buttons div {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.searchbox {
    flex-grow: 1;
    border: solid 1px black;
    border-radius: 10px;
    
}

.search {
    background-color: #ffffff00;
    border: 0;
    width: 5%;
    aspect-ratio: 1;
}

.gps {
    background-color: #ffffff00;
    border: 0;
    width: 5%;
    aspect-ratio: 1;
}

.search:hover, .gps:hover{
    background-color: #80e1ff;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
}

.map {
    width: 70%;
    height: 100%;
}

.canvas{
    margin-top: 10px;
    background-color: white;
    height: 90%;
    width: 100%;
}

.sidebar {
    flex: 1;
    padding: 20px;
    width: 20%;
    overflow-y: auto;
}

.contact-card {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-card img {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
