body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 40px;
    overflow: hidden;

}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #a3c2f2, #e0c2f2);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.navbar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar .spacer {
    flex: 1;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons div {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.searchbox {
    
}

.pink {
    background-color: #ff4dd2;
}

.red {
    background-color: #ff4d4d;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.map {
    width: 70%;
}

.sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    width: 20%;
}

.contact-card {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-card img {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}