html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}
    
.container {
    display: grid;
    flex-direction: column;
    background: linear-gradient(to right, #a3c2f2, #e0c2f2);
    width: 80%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
    min-width: 800px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 500px;
    align-items: center;
    justify-items: center;
}

.login-container {
    
    background-color: #4f6df5;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    font-size: 60px;
}

.login-container label {
    display: block;
    text-align: left;
    color: white;
    margin: 10px 0 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.toggle-container label {
    margin-right: 10px;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-switch input:checked+.slider {
    background-color: #2196F3;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(20px);
}

.login-btn {
    background-color: #e68ee3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #d173d8;
}