html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}
    
.container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #a3c2f2, #e0c2f2);
    width: 80%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
    min-width: 800px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 500px;
    align-items: center;
    justify-items: center;
}

.register-container {
    background-color: #4f6df5;
    padding: 40px;
    border-radius: 25px;
    width: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-container label {
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch input:checked+.slider {
    background-color: #2196F3;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(20px);
}

.register-btn {
    background-color: #e68ee3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.register-btn:hover {
    background-color: #d173d8;
}

.map {
    height: 90%;
    width: 45%;
    background-color: #ffffff;
    margin: 20px ;
}